# Bytecode files
__pycache__/
*.py[cod]

# Virtual environment
venv/
env/
.venv/

# Python egg files
*.egg
*.egg-info/
dist/
build/

# IDE and editor directories
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

.dat